.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: center;
    align-items: center;
}
  
.menu-item {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
  
.menu-item a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
  
.menu-item a:hover {
    background-color: #444;
    color: violet;
}
  
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}
  
.menu-item:hover > .submenu {
    display: block;
    animation: fadeIn 0.3s forwards;
}
  
.menu-item:not(:hover) > .submenu {
    animation: fadeOut 0.3s forwards;
}
  
.submenu-item {
    margin: 0;
}
  
.submenu-item a {
    margin: 0;
    padding: 5px;
    border-bottom: none;
    color: #fff;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    line-height: 16px;
}
  
.submenu-item a:hover {
    background-color: #333;
    color: lawngreen;
}
  
.subsubmenu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.3s ease-in-out;
}
  
.submenu-item:hover > .subsubmenu {
    display: block;
    animation: fadeIn 0.3s forwards;
}
  
.submenu-item:not(:hover) > .subsubmenu {
    animation: fadeOut 0.3s forwards;
}
  
.subsubmenu a:hover {
    background-color: #333;
    color: yellow;
}

@keyframes fadeIn
{
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut
{
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}
