.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: center;
    align-items: center;
}

.menu-item {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.menu-item a:hover {
    background-color: #444;
    color: violet;
}

.submenu1 {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}

.menu-item:hover > .submenu1 {
    display: block;
    animation: fadeIn 0.3s forwards;
}

.menu-item:not(:hover) > .submenu1 {
    animation: fadeOut 0.3s forwards;
}

.submenu1-item {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.submenu1-item a {
    margin: 0;
    padding: 5px;
    border-bottom: none;
    color: #fff;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

.submenu1-item a:hover {
    background-color: #333;
    color: lawngreen;
}

.submenu2 {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.3s ease-in-out;
}

.submenu1-item:hover > .submenu2 {
    display: block;
    animation: fadeInRight 0.3s forwards;
    top: 0;
    transform: translateY(calc(var(--hovered-item-offset) - 0.5em));
}

.submenu1-item:not(:hover) > .submenu2 {
    animation: fadeOutRight 0.3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}
